/* .footer {
    min-height: 10px;
    position: relative;
    text-align: center;
  } */
  
  .footer {
    font-family: 'Muli', sans-serif;
    color: #fff;
    text-align: center;
    position: relative;
    padding: 30px 0px 30px 0px;
  
    background-image: linear-gradient(to right, #cb2d3e, #e65337);
  }
