/* page layout start */
.styledAdmin {

    min-height: 100vh;
    background-image: linear-gradient(to right, #cb2d3e, #e65337);
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
  }
  /* page layout end */

.adminList h1 {
  font-family: 'Lobster', cursive;
  font-size: 60px;
  color: #fff;
  padding-bottom: 30px;
  text-align: center;
}  

.adminWait {
  padding: 100px 30px 100px 30px;
  text-align: center;
  font-family: 'Lobster', cursive;
}

hr {
    height:2px; 
    border:none; 
    color: #e2d079; 
    background-color: #e2d079;
  }


h2.customerList {
  background-color: #2d96bf;
  text-align: center;
  border: none;
  color: #fff;
  font-size: 50px;
  margin-top: 40px; }
  

.sushiMan {
  padding: 25px;
}


/* headers */
.legend.sc-bZQynM.feHedj {
  text-align: center;
  color: #2d96bf;
  width: 90%;
  padding: 5px;

}

/* inner rows */
.sc-bZQynM.feHedj {
  text-align: center;
  width: 90%;
  padding: 5px;
}

fieldset {
  padding: 10px;
}

#name {
  margin-right: 10px;
}

#party-size {
  margin-right: 10px;
}

#phone-num {
  margin-right: 10px;
}