.ClientList {
    background-image: linear-gradient(to right, #cb2d3e, #e65337)!important;
  }

.clientbanner {
padding-top: 50px;
background-image: linear-gradient(to right, #cb2d3e, #e65337)!important;
}

