.menuStyle {
    text-align: center;
    min-height: 100vh;
    background-image: linear-gradient(to right, #cb2d3e, #e65337);
    padding-top: 100px;
    text-align: center;
  }

  .introParagraph {
	text-align: center;
	width: 65%;
	margin: auto;
    color: #fff;
    font-size: 15px;
    font-family: 'Muli', sans-serif;
    padding: 30px 0px 80px 0px;
}

  .introParagraph h2{
    margin-bottom:0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 60px;
    color: #fff;
    padding-bottom: 30px;
  }
  

  .container p {
	line-height: 1.6rem;
	font-size: 1.1rem;
}


.list-group-item {
    padding: 10px 200px 10px 40px;
    margin: 40px;

}

 .entrees h2 { 
    margin-bottom:0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    size: 40px;
    color: #e2d079;
    }
    
.appetizers h2 { 
     margin-bottom:0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    size: 40px;
    color: #e2d079;
}

.springRolls {
    width: 350px;
   height: auto;
   padding: 15px;

}

.fairyTaleRoll {
   width: 350px;
   height: auto;
   padding: 15px;
}

.menu_guy {
    padding: 10px;
}

    
.menu-item {
		background-color: #fff;
}

.flex-column {
	display:flex;
	flex-direction:column;
}

.flex-row {
	display:flex;
	flex-direction:row;
}

.flex-wrap {
	flex-wrap:wrap;
}

.flex-center {
	justify-content:center;
}

.menu {
	font-family: 'Muli', sans-serif;
}

.menu-item {
    box-shadow: 3px 3px 3px #2e97c0;
    /* border: 2px solid #2e97c0;	 */
	line-height:1.5em;	
	max-height:15em;
	margin:1em;
	padding:.5em;
	max-width:25em;
}
.menu-item-description {
	margin:0;
}

.footer {
	bottom: 0 !important;
}